# CakePHP
/vendor/*
/tmp/*
/logs/*

# Node
/node_modules/*

# Testing coverage
/webroot/coverage/*
/build/logs/*

#PhpStorm
.idea/*

# External tool builders
.externalToolBuilders/

# Composer
composer.phar

# Compiled CSS
/webroot/css/style.css

# Concatenated / minified JS files
/webroot/js/script.concat.js
/webroot/js/*.min.js

# Environment variable definitions
/config/.env
/config/.env.production
/config/.env.dev

# Code coverage report
/build/logs/clover.xml

# Files copied from /vendor
/webroot/fonts/glyphicons-halflings-*
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/browserconfig.xml
/favicon.ico
/favicon-16x16.png
/favicon-32x32.png
/manifest.json
/mstile-150x150.png
/safari-pinned-tab.svg
